* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1194px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.header {
  margin-top: 34px;
  margin-bottom: 15px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo h1 {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.header-logo p {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.header-controls a {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.header-controls a:hover {
  color: rgb(255, 73, 73);
}

.header-controls--mobile {
  display: none;
  align-self: flex-start;
}

.search {
  margin-bottom: 39px;
}

.search-box {
  border-radius: 5px;
  background: rgb(255, 73, 73);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  gap: 3px;
  height: 50px;
}

.search-box input {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  padding: 0 30px;
  min-width: 0;
}

.search-box button {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(255, 73, 73);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
}

.content {
  margin-bottom: 94px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.content-main {
  flex-grow: 1;
}

.content-main__title {
  margin-top: 0;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.content-film {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.content-film__img {
  width: calc((100% - 28px) / 2);
  display: flex;
  justify-content: center;
}

.content-film__img img {
  width: 100%;
  display: block;
  max-width: 450px;
}

.content-film__info {
  width: calc((100% - 28px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.content-film__info__title {
  display: flex;
  gap: 4px;
  margin-bottom: 3px;
  flex-wrap: wrap;
}

.content-film__info__title h1,
.content-film__info__title p {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;
}

.content-film__info__title h1 {
  font-weight: 700;
  margin: 0;
}

.content-film__info__title p {
  font-weight: 400;
  margin: 0;
}

.content-film__info__content > *:last-child {
  margin-bottom: 0;
}

.content-film__info__description {
  color: rgb(134, 134, 134);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 2px;
}

.content-film__info__rating {
  color: rgb(4, 163, 30);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 29px;
}

.content-film__info_text {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 18px;
}

.content-film__info__controls button {
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 16px 98px;
  border-radius: 5px;
  background: rgb(255, 73, 73);
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .content-film {
    flex-direction: column;
  }

  .content-film__img {
    width: 100%;
  }

  .content-film__info {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header-controls {
    display: none;
  }

  .header-controls--mobile {
    display: block;
  }

  .search-box input {
    padding: 0 15px;
  }

  .content-box {
    flex-direction: column;
  }

  .content-sidebar {
    width: 100%;
  }
}
